.fade-in{
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.fade-in.appear{
    opacity: 1;
}

.from-top{
    transform: translateY(-50%);
}

.from-bottom{
    transform: translateY(50%);
}

.from-left{
    transform: translateX(-50%);
}

.from-right{
    transform: translateX(50%);
}

.from-top,
.from-bottom,
.from-left,
.from-right {
    opacity: 0;
    transition: all 2s ease-in-out;
}

.fromn-top.appear,
.from-bottom.appear{
    opacity: 1;
    transform: translateY(0);
}

.from-left.appear,
.from-right.appear{
    opacity: 1;
    transform: translateX(0);
}