@font-face{
    src: url("../fonts/DIN-Light.ttf");
    font-family: "din-light";
}

@font-face{
    src: url("../fonts/DIN-Bold.otf");
    font-family: "din-bold";
}

.din-light{
    font-family: "din-light"!important;
}

.din-bold{
    font-family: "din-bold"!important;
}

.h100 {
    height: 100vh !important;
}

.h50 {
    height: 50vh !important;
}

.half {
    width: 50%;
    transition: 1s ease-in-out all;
}

.logoTbee {
    max-width: 40%;
    transition: 1s ease-in-out all;
}

.logoMad {
    max-width: 30%;
    transition: 1s ease-in-out all;
}

.customFixedLeft {
    position: absolute;
    left: 0 !important;
    top: 0 !important;
}

.customFixedRight {
    position: absolute;
    top: 0 !important;
    right: 0 !important;
}

#tbeeCard {
    position: absolute;
    display: block;
    right: 50%;
    background-image: url('../img/tbeeBackground.jpg');
    background-repeat: no-repeat;
    background-position: left;
    background-attachment: fixed;
    background-size: contain;
    max-height: 100vh;
    overflow-y: auto;
}

#madCard {
    position: absolute;
    display: block;
    left: 50%;
    background-image: url('../img/madBackground.jpg');
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
    background-size: contain;
    max-height: 100vh;
    overflow-y: auto;
}

.cardContainer {
    overflow-y: auto;
    box-sizing: content-box;
}

.arrow {
    max-width: 50px;
    transition: 2s ease-in-out all;
}

#tbeeNav {
    max-width: 80%!important;
    background-color: #333;
    /* Black background color */
    position: fixed!important;
    /* Make it stick/fixed */
    top: -60px;
    /* Hide the navbar 50 px outside of the top view */
    width: 100%;
    /* Full width */
    transition: top 1s!important;
    /* Transition effect when sliding down (and up) */
    z-index: 100;
}

.somos{
    position:absolute; 
    top:10%; 
    left: 10%; 
    z-index: 10; 
    max-width: 40%;
}