#tbeeCard {
    scroll-behavior: smooth;
}

@font-face{
    src: url("../fonts/DIN-Light.ttf");
    font-family: "din-light";
}

@font-face{
    src: url("../fonts/DIN-Bold.otf");
    font-family: "din-bold";
}

@font-face{
    src: url("../fonts/DIN-Black.ttf");
    font-family: "din-black";
}

.no-align{
    vertical-align: center;
}

.din-light{
    font-family: "din-light"!important;
}

.din-bold{
    font-family: "din-bold"!important;
}

.din-black{
    font-family: "din-black";
}

.h100 {
    height: 100vh !important;
}

.h30 {
    height: 30vh !important;
}

.h50 {
    height: 50vh !important;
}

.h50p {
    max-height: 50% !important;
}

.h1-5em{
    height: 1.5em;
}

.nav-icon{
    max-width: 1.5em;
    display: inline;
    vertical-align: center;
}

.bc-black{
    background-color: black!important;
}

.bc-grey{
    background-color: #3d3d3d!important;
}

.contenidos-bc{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../img/tbeeMad.png');
}

.tbee-bc{
    background-image: url('../img/tbeeBackground.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.tr-bc{
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../img/mobileBackground.png');
}

.pic-1{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../img/mobilePic1.png');
}

.pic-2{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../img/mobilePic2.png');
}

.somos-bc{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../img/tbeewall.png');
}

.text-white{
    color: white;
}

.text-orange{
    color: #d17222;
}

.text-black{
    color: black;
}

.icon-black{
    filter: brightness(0);
}

.half {
    width: 50%;
    transition: 1s ease-in-out all;
}

.logoTbee {
    max-width: 40%;
    transition: 1s ease-in-out all;
}

.logoMad {
    max-width: 30%;
    transition: 1s ease-in-out all;
}

.customFixedLeft {
    position: absolute;
    left: 0 !important;
    top: 0 !important;
}

.customFixedRight {
    position: absolute;
    top: 0 !important;
    right: 0 !important;
}

.font-size-3{
    font-size: 3em;
}

.font-grey{
    color: #676767;
}

#tbeeCard {
    position: absolute;
    display: block;
    right: 50%;
    background-image: url('../img/tbeeBackground.jpg');
    background-repeat: no-repeat;
    background-position: left;
    background-attachment: fixed;
    background-size: contain;
    max-height: 100vh;
    overflow-y: auto;
    color: #676767;
}

#tbeeCard b{
    font-family: "din-bold"!important;
}

#tbeeCard .carusel-indicators .active{
    background-color: black!important;
}

#tbeeCard .carusel-indicators{
    margin-bottom: -2em!important;
}

#madCard {
    position: absolute;
    display: block;
    left: 50%;
    background-image: url('../img/madBackground.jpg');
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
    background-size: contain;
    max-height: 100vh;
    overflow-y: auto;
}

.cardContainer {
    overflow-y: auto;
    box-sizing: content-box;
}

.arrow {
    max-width: 50px;
    transition: 2s ease-in-out all;
}

/* nav */

.desktop #tbeeNav {
    max-width: 80%!important;
    background-color: #333;
    /* Black background color */
    position: fixed!important;
    /* Make it stick/fixed */
    top: -10vh;
    /* Hide the navbar 50 px outside of the top view */
    width: 100%;
    /* Full width */
    transition: top 1s!important;
    /* Transition effect when sliding down (and up) */
    z-index: 100;
}

.desktop .tbee-nav-grey{
    background-color: #404040;
}

.mobile .tbee-nav-grey{
    background-color: none;
}

.tbee-nav-grey2{
    background-color: #6a6a6a;
}

.vh10{
    height: 10vh!important;
}


nav .img-fluid{
    height: 50%!important;
    width: auto!important;
    margin: auto
}


.somos{
    position:absolute; 
    top:10%; 
    left: 10%; 
    z-index: 10; 
    max-width: 40%;
}

.acom-lg{
    position: absolute;
    top: 0;
    right: 5%;
    max-width: 20%;
}

.title-light{
    font-size: 3em!important;
}

.border-left{
    border-left-width: 5px!important;
    border-left-color: #b6b5af!important;
}

.border-mobile{
    border-left-width: 3px!important;
}

.gal-effect{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gal-effect img{
    transform: scale(1.1);
    transition: all 1s linear;
}

.gal-effect:hover img{
    transform: scale(1.3);
}

.price-gradient{
    background: rgb(186,186,186);
    background: linear-gradient(90deg, #e1e1e2 30%, rgba(246,246,246,1) 100%);
}

.price{
    font-size: 0.8em;
}

.text-price{
    font-size: 0.8rem;
}

.limit-h30-img img{
    max-height: 30vh;
    max-width: 100%;
    width: auto;
    height: auto;
    margin: auto;
}

